<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header_navbar">
    <nav class="nav
      d_flex
      flex_justify_space_between
      flex_align_items_center"
    >
      <h1 class="nav_logo_link">
        <a href="index.html">
          SEE IT CLEARLY
        </a>
      </h1>
      <ul class="navbar d_flex">
        <li class="navbar_item">
          <a
            href="products.html"
            class="navbar_item_link"
          >
            系列鏡框
          </a>
        </li>
        <li class="navbar_item">
          <a
            href="locates.html"
            class="navbar_item_link"
          >
            門市據點
          </a>
        </li>
        <li class="navbar_item">
          <a
            href=""
            class="navbar_item_link"
          >
            部落格
          </a>
        </li>
        <li class="navbar_item">
          <a
            href="faq.html"
            class="navbar_item_link"
          >
            常見問題
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <%- contents %>

  <footer class="footer">
    <div class="container">

      <div class="footer_content
        d_flex
        flex_wrap_wrap
        flex_justify_space_between
        flex_align_items_center"
      >
        <ul class="footer_navbar d_flex">
          <li class="footer_navbar_item">
            <a
              href="index.html"
              class="footer_navbar_item_link"
            >
              首頁
            </a>
          </li>
          <li class="footer_navbar_item">
            <a
              href="products.html"
              class="footer_navbar_item_link"
            >
            系列鏡框
            </a>
          </li>
          <li class="footer_navbar_item">
            <a
              href="locates.html"
              class="footer_navbar_item_link"
            >
              門市據點
            </a>
          </li>
          <li class="footer_navbar_item">
            <a
              href="#"
              class="footer_navbar_item_link"
            >
              部落格
            </a>
          </li>
          <li class="footer_navbar_item">
            <a
              href="faq.html"
              class="footer_navbar_item_link"
            >
              常見問題
            </a>
          </li>
        </ul>

        <ul class="d_flex">
          <li class="community_icon">
            <a
              href="#"
              class="community_icons_img"
              >
              <img
                src="./assets/images/icons/icon-fb.svg"
                alt="fb_icon"
              >
            </a>
          </li>

          <li class="community_icon">
            <a
              href="#"
              class="community_icons_img"
            >
              <img
                src="./assets/images/icons/icon-ig.svg"
                alt="ig_icon"
              >
            </a>
          </li>

          <li class="community_icon">
            <a
              href="#"
              class="community_icons_img"
            >
              <img
                src="./assets/images/icons/icon-line.svg"
                alt="line_icon"
              >
            </a>
          </li>
        </ul>

        <div class="contact_datas">
          <ul class="contact_data">
            <li class="contact_tel">
              <a
                href="tel:+0800-000-000"
                class="contact_text"
              >
                <span class="contact_icon">
                  <img
                    src="./assets/images/icons/icon-phone.svg"
                    alt="contact_tel_icon"
                    class="contact_icon_img"
                  >
                </span>
                0800-000-000
              </a>
            </li>
            <li class="contact_mail">
              <a
                href="mailto:glasses@business.com"
                class="contact_text"
                >
                <span class="contact_icon">
                  <img
                    src="./assets/images/icons/icon-mail.svg"
                    alt="contact_mail_icon"
                    class="contact_icon_img"
                  >
                </span>
                glasses@business.com
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="statement
        d_flex
        flex_justify_space_between"
      >
        <span class="statement_text">
          Copyright © 2020 Glasses.All rights reserved.
        </span>
        <ul class="statement_links">
          <li>
            <a
              href="#"
              class="statement_link"
            >
              隱私權政策
            </a>
          </li>
          <li>
            <a
              href="#"
              class="statement_link"
            >
              服務條款
            </a>
          </li>
        </ul>
      </div>

    </div>
  </footer>

  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
