$color-pink: #fbf2f2
$color-red: #AA0601
$color-red-dark: #650300
$color-brown: #B75929
$color-brown-dark: #5F3E2D

$color-white: white
$color-gray-light: #F2F2F2
$color-gray: #707070
$color-gray-dark: #555555
$color-black: #000000 

$color-red-border: #9F1213